@model List<KinopoiskMVC.FilmsServiceReference.Film>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Add Film", "AddFilm", "Home")

<table>
    @foreach (var film in Model)
    {
        <tr>
            <td>
                @film.Title
            </td>
            <td>
                @film.OriginalTitile
            </td>
            <td>
                @film.Year
            </td>
            
            <td>
                @Html.ActionLink("Edit", "EditFilm", new { id = film.FilmID }) |
                @Html.ActionLink("Delete", "DeleteFilm", new { id = film.FilmID }) 
            </td>
        </tr>
    }
</table>
